.settings {
  display: none;
  justify-content: center;
  position: absolute;
  top: calc(57px + 1.5rem);
  font-size: calc(12px + 0.5rem);
  background: rgba(255, 255, 255, 0.8);
  bottom: 15px;
  left: 15px;
  right: 15px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  border-radius: 6px;
  padding: 15px;
}
.clock.settingsOpen .settings {
  display: block;
}
.setting {
  width: 50vw;
  margin: 0 auto;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  background: white;
}
.setting:not(:last-child) {
  border-bottom: 1px solid black;
}
.setting label {
  text-align: right;
  padding-right: 10px;
}
.setting .settingAction {
}